body , html {
  height: 100%;
}
body {
  background-image: url('images/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:raleway;
  background-position: center;
  padding: 0%;
}
.conversion-area {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 80%;
  background-color: rgba(210, 210,210, 0.4);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px black;
  z-index: 10;
  text-align: center;
}
.my-input {
  width: 40%;
  background-color: beige;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}
.my-input-amount {
  font-family: Arial, Helvetica, sans-serif!important;
  width: 10%;
  padding: 7px;
  border-radius: 5px;
  width: 95%;
  font-family: raleway;
}
.results-area {
  position: absolute;
  top: 70%;
  font-size: 45px;
  width: 70%;
  height: 20%;
  background-color: inherit;
  border: none;
  font-family: raleway;
  color: black!important;
}
.converter-header {
  background-color: rgba(210, 210,210, 0.4);
  box-shadow: 0px 10px 10px black;
  padding: 5px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 1px 0px 1px black;
  position: fixed;
  top: 0%;
  left: 0%;
}
h2 {
  text-outline:0px 2px 2px aliceblue;
}
